.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.filters ul {
    padding-bottom: 20px;
}

.filters .filters-list {
    font-size: 15px;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    margin: 0 20px 15px 0;
    border: 2px solid var(--dark-gray);
    border-left: none;
    box-sizing: border-box;
    border-radius: 50px;
    background: linear-gradient(to right, #ffff 50%, var(--blue) 50%);
    transition: background-position 0.3s;
    box-shadow: 0 0 0px transparent;
    background-size: 203% 100%;
}

.filters-list:hover {
    background-position: 98% 0%;
    color: #ffff;
    border-color: transparent;
}

#filter-label {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 15px;
    padding-right: 30px;
}

.filters-list>a,
a:visited {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    min-height: 100%;
    padding: 15px 12px 15px 0;
}

.filters-list>a>i.fas {
    color: var(--blue);
    margin-right: 12px;
}

.filters-list i.fas::before {
    display: inline-block;
    border-radius: 100%;
    background-color: var(--light-blue);
    padding: 16px 16px;
    height: auto;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -3px;
}

.search-hit>i::before {
    margin-right: 12px;
    font-size: 12px;
    padding: 4px 9px;
    color: var(--blue);
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--dark-gray);
}

@media only screen and (max-width: 768px) {
    .filters .filters-list {
        margin: 0 10px 10px 0;
    }

    .filters-list>a,
    a:visited {
        font-size: 15px;
    }
}