/* hebregement cards and aside cards ↓*/
#main-cards {
    display: flex;
    justify-content: space-between;
}

#popular-articles {
    width: 30%;
}

#hebergement {
    width: 68%;
}

.cards-container {
    background-color: var(--gray);
    padding: 32px 32px;
    border-radius: 23px;
    display: inline-block;
    width: 100%;
    height: 100%
}

.cards-groups {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.cards-groups .card:not(.card-full) {
    width: 31%;
}

.cards-groups .card {
    padding: 6px 6px 6px 6px;
    border-radius: 20px;
    background-color: #ffff;
    -webkit-box-shadow: 1px 6px 8px -1px rgba(228, 226, 226, 0.7);
    box-shadow: 1px 6px 8px -1px rgba(228, 226, 226, 0.7);
    transition: transform 150ms;
}

.cards-groups .card:hover {
    -ms-transform: perspective(1px) scale(1.03) translateX(0);
    -webkit-transform: perspective(1px) scale(1.03) translateX(0);
    transform: perspective(1px) scale(1.03) translateX(0);
}

.cards-groups .card .card-info {
    padding: 6px 8px;
    line-height: 20px;
}

.cards-groups .card .card-image-top {
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cards-groups .card.card-link {
    text-decoration: none;
}

.cards-groups .card-title {
    font-size: 14px;
    font-weight: 800;
}

.cards-groups .card .card-info p {
    font-size: 13px;
}

.cards-groups .card-info .rating-score {
    font-size: 12px;
    display: inline-block;
}

.cards-groups .card-info .rating-score .fas.fa-star:not(.empty-star):before {
    color: var(--blue);
}

.cards-groups .card-info .rating-score .empty-star:before {
    color: var(--dark-gray)
}

.aside-title i.fas.fa-chart-line {
    position: absolute;
    right: 0%;
}

#hebergement .show-more {
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    margin-top: 30px;
}

#hebergement .show-more:hover {
    text-decoration: underline;

}

/* Aside cards */
.cards-groups .card-full {
    width: 100%;
}

.cards-groups .card .card-image-left {
    width: 40%;
    height: 8rem;
    object-fit: cover;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cards-groups .card.card-full figure {
    display: flex;
}

.cards-groups .card.card-full figure .card-image-left {
    justify-self: start;
}

.cards-groups .card-info.card-info-right {
    justify-self: end;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    line-height: 22px;
}

.card-info.card-info-right .rating-score {
    justify-self: end;
    margin-top: auto;
}

@media only screen and (max-width: 1270px) {
    #main-cards {
        gap: 10px;
    }

    .cards-groups {
        gap: 15px;
        justify-content: space-between;
    }

    .cards-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .cards-groups .card-info.card-info-right {
        padding-left: 6px;
    }
}


@media only screen and (max-width: 992px) {
    #main-cards {
        flex-direction: column-reverse;
        gap: 25px;
    }

    #hebergement {
        width: 100%;
    }

    #popular-articles {
        width: 100%;
    }

    .cards-groups .card-full {
        width: 100%;
    }

    .cards-groups .card-title {
        font-size: 14px;
    }

    .cards-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .cards-container .cards-groups {
        gap: 10px;
    }

    .cards-groups .card .card-image-left {
        width: 30%;
    }

    .cards-groups .card .card-title {
        font-size: 16px;
    }

    .cards-groups .card .card-info p {
        font-size: 14px;
    }

    .cards-groups .card-info.card-info-right {
        padding-left: 18px;
    }
}

@media only screen and (max-width: 842px) {

    .cards-groups .card:not(.card-full) {
        width: 45%;
    }

    .cards-container .cards-groups {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 768px) {
    .cards-groups .card:not(.card-full) {
        width: 100%;
    }

    .cards-container .cards-groups {
        justify-content: center;
    }

    #cards-hebergement-section {
        padding: 0;
    }

    .cards-container {
        border-radius: 0;
    }

    #hebergement>.cards-container {
        background-color: unset;
    }

    #hebergement .card .show-more {
        font-size: 18px;
    }
}

@media only screen and (max-width: 414px) and (min-width: 0px) {
    .cards-groups .card .card-image-left {
        width: 36%;
    }
}