/* .header__nav{
    margin: 30px auto;
} */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 30px ;
    margin-bottom: 20px;
}

.header-logo{
    width: 120px;
    height: auto;
}

.nav-items{
    display: flex;
    
}
.nav-list{
    list-style: none;
}
.nav-list a{
    padding: 50px  20px;
    display: inline-block;
    border-top: 2px solid transparent;
    text-decoration: none;
    width: 150px;
    text-align: center;
}
.nav-list a:visited {
    color: inherit;
}

.nav-list a:hover, .nav-list a:active{
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

@media only screen and (max-width: 768px){
    .main-nav{
        justify-content: center;
        flex-direction: column;
        padding: 20px 0 0 0;
        margin-bottom: 30px;
    }
    .nav-list{
        width: 100%;
    }
    .nav-list a{
        width: 100%;
        padding: 20px 0 10px 0;
        border: initial;
        display: block;
    }
    .nav-items {
        min-width: 100%;
    }
    .nav-list a{
        border-bottom: 3px solid var(--gray);
    }
    .nav-list a:hover, .nav-list a:active{
        color: var(--blue);
        border-top: inherit;
        border-bottom: 3px solid var(--blue);
    }
    
}