.top-title {
    font-size: 20px;
    font-weight: 800;
}

.search-form {
    margin-bottom: 30px;
    display: inline-block;
}

.form-control {
    display: flex;
    height: 50px;
}

.form-label {
    display: block;
    padding-bottom: 14px;
}

.form-control>i.fas {
    height: 100%;
    border-radius: inherit;
    background-color: var(--gray);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.form-control>i.fas::before {
    padding: 0px 15px;
    margin-left: 5px;
    box-sizing: content-box;

}

.form-control .search-input {
    height: 100%;
    border-top: 1px var(--gray) solid;
    border-bottom: 1px var(--gray) solid;
    border-left: none;
    border-right: none;
    outline: none;
    padding-left: 14px;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control .btn-search-submit {
    height: 100%;
    background-color: var(--blue);
    color: var(--gray);
    padding-bottom: 2px;
    border: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: -30px;
    cursor: pointer;
}

.form-control .btn-search-submit {
    padding: 0 14px;
}

@media only screen and (max-width: 768px) {
    .search-form {
        width: 100%;
    }

    .form-control {
        height: 45px;
    }

    .form-control .btn-search-submit {
        border-radius: 35%;
        margin-left: -6px;
        text-indent: -9999px;
        line-height: 0;
    }

    .form-control .btn-search-submit::after {
        font-family: "font awesome 5 free" !important;
        font-size: 18px;
        content: '\f002';
        text-indent: 0;
        display: block;
        line-height: initial;
    }
}

@media only screen and (max-width: 411px) {
    .form-label {
        padding-bottom: 35px;
    }

    .form-control {
        justify-content: space-around;
    }

    .form-control .btn-search-submit {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 321px) {
    .form-control .btn-search-submit {
        margin-left: -50px;
    }

}